<header>
  <div class="justify-content-between">
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a class="navbar-brand" href="/urls">TinyApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/urls">My URLs</a>
        <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
      </div>
    </div>
  <div class="navbar-text">
    <% if (!id) { %>
      <form class="form-inline" method="POST" action="/login">
        <input class="form-control me-2" type="text" name="email" placeholder="Email">
        <div class="form-inline m3">
        <input class="form-control me-2" type="password" name="password" placeholder="Password">
        <div class="form-inline m3">
        <button type="submit" class="btn btn-outline-dark">login</button>
      </form>
  </div>
        <a href="/registration" id="registration" for="registration">
          <button action="/registration" id="registration" for="registration" type="button" class="btn btn-outline-dark">Register</button>
        </a>
    <% } else { %>
      <div class="navbar-text pe3">
        Logged In As: <%= email %>!          
      </div>
        <form class="d-flex" method="POST" action="/logout">
          <input type="hidden">
          <button type="submit" class="btn btn-outline-dark">logout</button>
        </form>
    <% } %>
  </div>
  </nav>
</div>
</header>